// Colors
$red: #ff0000;
$green: #00ff00;
$blue:#00a8ff;
$lightgreen:#4eb235;
$darkgreen:#389521;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;